<h4>
    <%= obj["Organization Name"] %>
</h4>             
<p>
    <%= formatAddress(obj) %><br />
    <%= obj["Course Name"] %><br />
</p>


<% if (obj["Learning Mode"]) { %>
    <p>
        <strong>Learning Mode</strong><br />
        <%= obj["Learning Mode"] %>
    </p>
<% } %>